* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 70px;
    font-family: Droid Sans; 
  }

  /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 10px;
    text-align: center;
    background-color: #C4C4C4;
  }

/* Navigation Bar */

body {
    background-color: #FFFAD0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    background-color: white;
    align-items: center;
    /* padding: 20px 5%; */
    margin: 0; 
    padding: 0;
}

.logo {
    cursor: pointer;
    justify-content: flex-start;
}
  
.navlinks {
    list-style: none;
    padding-left: 20px;
}

.navlinks li {
    display: inline-block;
    justify-content: flex-end;
    padding: 0px 40px;
}

.navlinks li a:hover {
    color: #6C5CE7;
}

button {
  padding: 9px 25px;
  background-color:#6C5CE7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #6C5CE7;
  opacity: 0.8;
}


body {
  background-color: #FFFDEB;
}
