* {
    box-sizing: border-box;
  }
  
  .rows {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .columns {
    flex: 50%;
    padding: 20px 70px;
  }

  /* Style the counter cards */
.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    background-color: #C4C4C4;
    margin: 25px;
    font-family: 'Lato';
  }

h2 {
  display: block;
  font-size: 1.75em;
  margin-top: 0.50em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}