* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Lato";
}

body {
    background-color: #FFFAD0;
}

li, a, .create {
    font-weight: 500;
    text-decoration: none;
}

header {
    display: flex;
    background-color: white;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    font-family: 'Lato';
    overflow: hidden;
    padding: 25px 5%;
    box-shadow: 2px 2px 5px  rgba(0,0,0,0.2);
}

.logo {
    cursor: pointer;
    justify-content: flex-start;
    display: inline-block;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: bolder;
}

.navlinks {
    padding-left: 40px;
    display: inline-block;
    font-size: 1.17em;
    
    font-weight: bold;
}

.navlinks:hover {
    color: #6C5CE7;
}


.create {
    padding: 10px 35px;
    margin-left: auto;
    color: white;
    background-color:#6C5CE7;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.17em;
    font-weight: bold;
}

.create:hover {
    background-color: #6C5CE7;
    opacity: 0.8;
}

body {
    background-color: #FFFDEB;
}

#about {
    font-size: 36px;
	font-family: "Droid Sans";
	color: #000000;
}

#info1 {
    color: white;
}

#info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    /* help */
    display: flex;
    flex-direction: column;
    
    /*align-items: center;*/

    width: 375px;
    /*padding-top: 25px;*/
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;

    background-color: #6C7AF3;
    border-radius: 25px;
    box-shadow: 2px 2px 5px  rgba(0,0,0,0.2);
}

#head {
    align-self: flex-start;
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family:"Latoss";
    font-size: 25px;
}


hr {
    width: 315px;
    background-color: white;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 2px;
}

#head2 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
    /*padding: 10px;*/
    margin-left: 50px;
    margin-right: 50px;
    font-family:"Lato";
    font-size: 36px;
    line-height: 56px;
    text-shadow:  2px 2px 5px  rgba(0,0,0,0.2);
}

#info2 button {
    background-color: #FFCD1A;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 20px 2px;
    border-radius: 60px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#b{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Lato';
    letter-spacing: 3px;
    text-decoration: none;
}

#c {
    font-weight: 500;
    font-size: 25px;
    font-family: 'Lato';
    letter-spacing: 3px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}


#info1 p {
    font-family: "Lato";
    text-align: center;
}

#info2 p {
    word-wrap: break-word;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 900px;
    font-size: 25px;
    line-height: 40px;
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }

  .column.right {
    width: 60%;
}
  
  .column {
    float: left;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 60%;
  }
