* {
    margin: 0;
    font-family: "Playfair Display";
    font-size: 36;
    font-weight: 800;
    /* background: #FFFDEB; */ 
    /* HELP: trying to change background of page without changing background of text.  */
}

/* question text */
h1 { 
    font-size: 50;
    font-weight: bold;
}

/* deck name text on card */
h3{
    font-size: 24;
    font-weight: bold;
}

.card {
    /* help */
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;

    width: 300px;
    padding-top: 350px;
    margin-left: auto;
    margin-right: auto;

    background-color: #6C7AF3;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.return-button {
    color: black;
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.return-button:hover {
    text-decoration: underline;
}